# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# ignore models
rar_actor.h5
rar_critic.h5
rdr_model.h5

# Ignore virtual environment directories
myenv/
venv/
.env/

# Ignore other common files and directories
.DS_Store
*.log
